<div ng-include="'tpl/include/header.html'"></div>
<div class="container">
    <form class="form-group" ng-show="result">
        <!--联系人-->
        <div class="form-group">
            <label for="userName">姓名:</label>
            <input type="text" class="form-control" id="userName" placeholder="联系人" ng-model="userName"/>
        </div>
        <!--选择性别-->
        <div class="form-group">
            <label>选择性别:</label>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="sex" ng-model="sex" value="1" />男
                </label>
            </div>
            <div class="radio-inline ">
                <label>
                    <input type="radio" name="sex" value="2" ng-model="sex"/>女
                </label>
            </div>
        </div>
        <!--联系电话-->
       <div class="form-group ">
           <label for="phone">联系电话:</label>
           <input type="text" class="form-control" id="phone" placeholder="联系电话" ng-model="phone"/>
       </div>
        <!--送餐地址-->
        <div class="form-group">
            <label for="address">家庭地址</label>
            <textarea name="address" id="address" class="form-control" ng-model="addr"></textarea>
        </div>
        <button class="btn btn-success btn-block" ng-click="submitOrder('/kflMyOrder')">加入收藏</button>
    </form>
    <p ng-hide="result">{{msg}}</p>
</div>
<div ng-include="'tpl/include/footer.html'"></div>